* {
  box-sizing: border-box;
}

body {
  background-color: navy;
}

.header__heading {
  text-align: center;
  color: aliceblue;
  text-shadow: 0.06rem 0.06rem 0.13rem black, 0 0 1.6rem white, 0 0 0.3rem pink;
}
.slider__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.9rem;
  margin: 2rem auto;
  width: 35rem;
  height: 35rem;
  background-color: inherit;
  overflow: hidden;
}

.slider__top {
  width: 800%;
  height: 90%;
  overflow: hidden;
  display: flex;
  border-radius: 0.9rem;
}

input[type=radio] {
  display: none;
}

.slider__image {
  width: 100%;
  transition: all .5s ease-in-out;
  border-radius: 0.9rem;
  overflow: hidden;
}

.image{
  width: 100%;
  height: 100%;
}

.slider__bottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-between;
}

.slider__label-list {
  height: 2em;
  display: flex;
  gap: 0.45rem;
  align-items: center;
}

.slider__label-item {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle {
  width: 1rem;
  height: 1rem;
  background-color: azure;
  border-radius: .5rem;
}

.slider__descr-list {
  height: 2rem;
  padding-top: 0.4rem;
  overflow: hidden;
}

.slider__descr-item {
  margin: 0;
  height: 100%;
  color: azure;
  transition: all .5s ease-in-out;
}

.slider__label-item:hover > .circle {
  background-color: grey;
  box-shadow: 0 0 0.6rem 0.3rem rgba(221, 221, 221, 1);
}

.slider__label-item:active > .circle {
  background-color: azure;
}

#slide_1:checked ~ .slider__top > .slider__image {
  transform: translateX(0);
}

#slide_2:checked ~ .slider__top > .slider__image {
  transform: translateX(-100%);
}

#slide_3:checked ~ .slider__top > .slider__image {
  transform: translateX(-200%);
}

#slide_4:checked ~ .slider__top > .slider__image {
  transform: translateX(-300%);
}

#slide_5:checked ~ .slider__top > .slider__image {
  transform: translateX(-400%);
}

#slide_6:checked ~ .slider__top > .slider__image {
  transform: translateX(-500%);
}

#slide_7:checked ~ .slider__top > .slider__image {
  transform: translateX(-600%);
}

#slide_8:checked ~ .slider__top > .slider__image {
  transform: translateX(-700%);
}

#slide_1:checked ~ .slider__bottom > .slider__descr-list > .slider__descr-item {
  transform: translateY(0);
}

#slide_2:checked ~ .slider__bottom > .slider__descr-list > .slider__descr-item {
  transform: translateY(-100%);
}

#slide_3:checked ~ .slider__bottom > .slider__descr-list > .slider__descr-item {
  transform: translateY(-200%);
}

#slide_4:checked ~ .slider__bottom > .slider__descr-list > .slider__descr-item {
  transform: translateY(-300%);
}

#slide_5:checked ~ .slider__bottom > .slider__descr-list > .slider__descr-item {
  transform: translateY(-400%);
}

#slide_6:checked ~ .slider__bottom > .slider__descr-list > .slider__descr-item {
  transform: translateY(-500%);
}

#slide_7:checked ~ .slider__bottom > .slider__descr-list > .slider__descr-item {
  transform: translateY(-600%);
}

#slide_8:checked ~ .slider__bottom > .slider__descr-list > .slider__descr-item {
  transform: translateY(-700%);
}

#slide_1:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_1'] > .circle,
#slide_2:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_2'] > .circle,
#slide_3:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_3'] > .circle,
#slide_4:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_4'] > .circle,
#slide_5:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_5'] > .circle,
#slide_6:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_6'] > .circle,
#slide_7:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_7'] > .circle,
#slide_8:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_8'] > .circle {
  background-color: azure;
  outline: 0.2rem solid grey;
  box-shadow: 0 0 0.6rem 0.3rem rgba(128, 128, 128, 1);
}

#slide_1:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_1']:hover > .circle,
#slide_2:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_2']:hover > .circle,
#slide_3:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_3']:hover > .circle,
#slide_4:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_4']:hover > .circle,
#slide_5:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_5']:hover > .circle,
#slide_6:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_6']:hover > .circle,
#slide_7:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_7']:hover > .circle,
#slide_8:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_8']:hover > .circle {
  background-color: grey;
  outline: none;
  box-shadow: 0 0 0.6rem 0.3rem rgba(221, 221, 221, 1);
}

@media (max-width: 48rem) {
  .slider__wrapper {
    width: calc(80vw - 1.5rem);
    height: calc(100vw - 1.5rem);
  }
  
  .slider__bottom {
    flex-direction: column;
    gap: 0.9rem;
  }

  .slider__label-list {
    justify-content: center;
  }

  #slide_1:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_1']:hover > .circle,
  #slide_2:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_2']:hover > .circle,
  #slide_3:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_3']:hover > .circle,
  #slide_4:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_4']:hover > .circle,
  #slide_5:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_5']:hover > .circle,
  #slide_6:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_6']:hover > .circle,
  #slide_7:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_7']:hover > .circle,
  #slide_8:checked ~ .slider__bottom > .slider__label-list > .slider__label-item[for = 'slide_8']:hover > .circle {
    background-color: azure;
    outline: 0.2rem solid grey;
    box-shadow: 0 0 0.6rem 0.3rem rgba(128, 128, 128, 1);
}
}